<!DOCTYPE html>
<html lang="en">
<head>
    {{> shared/header}}
    <title>{{code}}</title>
</head>
<body>
{{> shared/navbar}}
<main class="main-content">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Error {{code}}</h3>
        </div>
    </div>
</main>
{{> shared/footer}}
</body>
</html>
