<!DOCTYPE html>
<html lang="en">
<head>
    {{> shared/header}}
    <title>Index - {{siteName}}</title>
</head>
<body>
{{> shared/navbar}}
<main class="main-content">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Welcome to {{siteName}}</h3>
            <p>{{test}}</p>
        </div>
    </div>
</main>
{{> shared/footer}}
</body>
</html>
